<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"   
    xmlns:p="http://www.springframework.org/schema/p"
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">
    
    
    <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
    	<property name="driverClassName" value="com.mysql.jdbc.Driver"></property>
    	<property name="url" value="jdbc:mysql://localhost:3306/trial"></property>
    	<property name="username" value="root"></property>
    	<property name="password" value="habibur786"></property>
    </bean>
     
     <bean id="mysessionFactory"
     class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
     <property name="datasource" ref="dataSource"></property>
     <property name="annotatedClasses">
     	<list>
     		<value>com.to.Trainee</value>
     	</list>
     </property>
     
     <property name="hibernateProperties">
     	<props>
     		<prop key="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</prop>
     		<prop key="hibernate.hbm3ddl.auto">create</prop>
     		<prop key="hibernate.show_sql">true</prop>
     	</props>
     </property>
     </bean>
     
     <bean id="temp"
     class="org.springframework.orm.hibernate5.HibernateTemplate">
     	<property name="sessionFactory" ref="mysessionFactory"></property>
     </bean>
     
     <bean id="dao" class="com.dao.TraineeDao">
     	<property name="hibernateTemplate" ref="temp"></property>
     </bean>
    </beans>